body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Light';
  /* src: url('../images/fonts/Inter_18pt-Light.ttf'); */
}



@font-face {
  font-family: 'Regular';
  /* src: url('../images/fonts/Inter_24pt-Regular.ttf'); */
}


@font-face {
  font-family: 'bold';
  /* src: url('../images/fonts/Inter_18pt-Bold.ttf'); */
}

.exterBold {
  font-family: 'ExterBold';
  /* background-color:red; */
}

.SemiBold {
  font-family: 'SemiBold';
  /* background-color:red; */
}

.light {
  font-family: 'Light';
  /* background-color:red; */
}

.bold {
  font-family: 'bold';
}

.Regular {
  font-family: 'Regular';
}

.Medium {
  font-family: 'Medium';
}
